<!DOCTYPE html>
<html>
  <head>
    <title>Maker</title>
    <style>
      body {
        background: #7b4397;
        background: -webkit-linear-gradient(
          to right,
          rgba(220, 36, 48, 0.8),
          rgb(75 7 109 / 80%)
        );
        background: linear-gradient(
          to right,
          rgba(220, 36, 48, 0.8),
          rgb(75 7 109 / 80%)
        );
      }
    </style>
    <link rel="stylesheet" href="main.css" />
  </head>
  <body>
    <div id="ReactRoot"></div>
    <script type="text/javascript" src="client.index.js"></script>
  </body>
</html>
